In [1]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.5f}'.format

In [2]:
credit_card_df = pd.read_csv('credit_card_balance.csv')

In [3]:
credit_card_df.info(verbose=True, null_counts=True)

C:\Users\TaeSoo\AppData\Local\Temp/ipykernel_23636/3733147626.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  credit_card_df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   SK_ID_PREV                  3840312 non-null  int64
 1   SK_ID_CURR                  3840312 non-null  int64
 2   MONTHS_BALANCE              3840312 non-null  int64
 3   AMT_BALANCE                 3840312 non-null  float64
 4   AMT_CREDIT_LIMIT_ACTUAL     3840312 non-null  int64
 5   AMT_DRAWINGS_ATM_CURRENT    3090496 non-null  float64
 6   AMT_DRAWINGS_CURRENT        3840312 non-null  float64
 7   AMT_DRAWINGS_OTHER_CURRENT  3090496 non-null  float64
 8   AMT_DRAWINGS_POS_CURRENT    3090496 non-null  float64
 9   AMT_INST_MIN_REGULARITY     3535076 non-null  float64
 10  AMT_PAYMENT_CURRENT         3072324 non-null  float64
 11  AMT_PAYMENT_TOTAL_CURRENT   3840312 non-null  float64
 12  AMT_RECEIVABLE_PRINCIPAL    3840312 non-null  float64
 13  AMT_RECIVABLE               3840312 non-null  float64
 14  AMT_TOTAL_RECEIVABLE        3840312 non-null  float64
 15  CNT_DRAWINGS_ATM_CURRENT    3090496 non-null  float64
 16  CNT_DRAWINGS_CURRENT        3840312 non-null  int64
 17  CNT_DRAWINGS_OTHER_CURRENT  3090496 non-null  float64
 18  CNT_DRAWINGS_POS_CURRENT    3090496 non-null  float64
 19  CNT_INSTALMENT_MATURE_CUM   3535076 non-null  float64
 20  NAME_CONTRACT_STATUS        3840312 non-null  object
 21  SK_DPD                      3840312 non-null  int64
 22  SK_DPD_DEF                  3840312 non-null  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

In [4]:
credit_card_df.describe(include='all')

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
count,3840312.00000,3840312.00000,3840312.00000,3840312.00000,3840312.00000,3090496.00000,3840312.00000,3090496.00000,3090496.00000,3535076.00000,...,3840312.00000,3840312.00000,3090496.00000,3840312.00000,3090496.00000,3090496.00000,3535076.00000,3840312,3840312.00000,3840312.00000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Active,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3698436,NaN,NaN
mean,1904503.58990,278324.20729,-34.52192,58300.15526,153807.95740,5961.32482,7433.38818,288.16958,2968.80485,3540.20413,...,58088.81118,58098.28549,0.30945,0.70314,0.00481,0.55948,20.82508,NaN,9.28367,0.33162
std,536469.47056,102704.47513,26.66775,106307.03102,165145.69952,28225.68858,33846.07733,8201.98934,20796.88705,5600.15412,...,105965.36991,105971.80110,1.10040,3.19035,0.08264,3.24065,20.05149,NaN,97.51570,21.47923
min,1000018.00000,100006.00000,-96.00000,-420250.18500,0.00000,-6827.31000,-6211.62000,0.00000,0.00000,0.00000,...,-420250.18500,-420250.18500,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,0.00000,0.00000
25%,1434385.00000,189517.00000,-55.00000,0.00000,45000.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,4.00000,NaN,0.00000,0.00000
50%,1897122.00000,278396.00000,-28.00000,0.00000,112500.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,15.00000,NaN,0.00000,0.00000
75%,2369327.75000,367580.00000,-11.00000,89046.68625,180000.00000,0.00000,0.00000,0.00000,0.00000,6633.91125,...,88899.49125,88914.51000,0.00000,0.00000,0.00000,0.00000,32.00000,NaN,0.00000,0.00000
max,2843496.00000,456250.00000,-1.00000,1505902.18500,1350000.00000,2115000.00000,2287098.31500,1529847.00000,2239274.16000,202882.00500,...,1493338.18500,1493338.18500,51.00000,165.00000,12.00000,165.00000,120.00000,NaN,3260.00000,3260.00000

In [5]:
def object_pre (df) :
    
    pk_id = sorted(list(df['SK_ID_PREV'].unique()))
    first_id = []
    mode_id = []
    object_col_first = []
    object_col_mode = []

    for col in df:
        if df[col].dtype == 'object':
            first_id.append(col+'_FIRST')
            mode_id.append(col+'_MODE')
            print(col)
            object_col_first.append(list(df.groupby('SK_ID_PREV')[col].first()))
            object_col_mode.append(list(df.groupby('SK_ID_PREV')[col].apply(lambda x : x.mode()[0])))

    object_col_first_df = pd.DataFrame(object_col_first).transpose()
    object_col_mode_df = pd.DataFrame(object_col_mode).transpose()   

    object_col_first_df.columns = [first_id]
    object_col_mode_df.columns = [mode_id]
    return pk_id, object_col_first_df, object_col_mode_df

In [6]:
pk_id, object_col_first, object_col_mode = object_pre(credit_card_df)

NAME_CONTRACT_STATUS

In [7]:
merge_obj_df = pd.concat([object_col_first, object_col_mode], axis = 1)
merge_obj_df.index = pk_id
merge_obj_df = merge_obj_df.reset_index()
merge_obj_df = merge_obj_df.rename(columns={'index':'SK_ID_PREV'})
merge_obj_df.columns = ['SK_ID_PREV', 'NAME_CONTRACT_STATUS_FIRST', 'NAME_CONTRACT_STATUS_MODE']
merge_obj_df

        SK_ID_PREV NAME_CONTRACT_STATUS_FIRST NAME_CONTRACT_STATUS_MODE
0          1000018                     Active                    Active
1          1000030                     Active                    Active
2          1000031                     Active                    Active
3          1000035                     Active                    Active
4          1000077                     Active                    Active
...            ...                        ...                       ...
104302     2843476                     Active                    Active
104303     2843477                     Active                    Active
104304     2843478                     Active                    Active
104305     2843493                     Active                    Active
104306     2843496                     Active                    Active

[104307 rows x 3 columns]

In [8]:
credit_card_df.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [9]:
level_0 = ['MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'SK_DPD',
       'SK_DPD_DEF']
level_1 = ['_MEAN', '_MEDIAN', '_STD', '_FIRST']

col_names = []
for name1 in level_0 :
    for name2 in level_1 :
        col_names.append(name1+name2)

In [10]:
merge_real_num_df = pd.DataFrame(credit_card_df.groupby('SK_ID_PREV').agg(['mean','median','std','first']))
merge_real_num_df.reset_index(drop = True, inplace = True)
merge_real_num_df.columns = merge_real_num_df.columns.droplevel(0)
merge_real_num_df = merge_real_num_df.iloc[:,4:]

merge_real_num_df.columns = col_names
merge_real_num_df

,MONTHS_BALANCE_MEAN,MONTHS_BALANCE_MEDIAN,MONTHS_BALANCE_STD,MONTHS_BALANCE_FIRST,AMT_BALANCE_MEAN,AMT_BALANCE_MEDIAN,AMT_BALANCE_STD,AMT_BALANCE_FIRST,AMT_CREDIT_LIMIT_ACTUAL_MEAN,AMT_CREDIT_LIMIT_ACTUAL_MEDIAN,...,CNT_INSTALMENT_MATURE_CUM_STD,CNT_INSTALMENT_MATURE_CUM_FIRST,SK_DPD_MEAN,SK_DPD_MEDIAN,SK_DPD_STD,SK_DPD_FIRST,SK_DPD_DEF_MEAN,SK_DPD_DEF_MEDIAN,SK_DPD_DEF_STD,SK_DPD_DEF_FIRST
0,-4.00000,-4.00000,1.58114,-5,74946.28500,44360.50500,46691.99617,40934.07000,81000.00000,45000.00000,...,1.58114,1.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
1,-4.50000,-4.50000,2.44949,-3,55991.06438,48036.66750,40839.85582,100264.45500,81562.50000,78750.00000,...,1.95941,3.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
2,-8.50000,-8.50000,4.76095,-4,52394.43938,2902.74750,64734.55522,105776.86500,149625.00000,144000.00000,...,3.41992,7.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
3,-4.00000,-4.00000,1.58114,-4,0.00000,0.00000,0.00000,0.00000,225000.00000,225000.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
4,-7.00000,-7.00000,3.31662,-3,0.00000,0.00000,0.00000,0.00000,94090.90909,135000.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104302,-49.00000,-49.00000,27.56810,-77,37937.81226,0.00000,60329.01731,124151.13000,161526.31579,180000.00000,...,11.07853,24.00000,15.03158,0.00000,43.42013,32,3.47368,0.00000,9.67322,32
104303,-43.00000,-43.00000,24.68130,-68,1663.07665,0.00000,9144.15443,0.00000,15882.35294,0.00000,...,0.40437,4.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
104304,-46.50000,-46.50000,26.12470,-82,5111.40500,0.00000,16968.62916,28.35000,21000.00000,0.00000,...,1.72629,9.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
104305,-8.00000,-8.00000,4.47214,-9,59139.92700,68541.16500,23068.04293,68541.16500,153000.00000,135000.00000,...,4.36654,5.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
104306,-8.00000,-8.00000,4.47214,-2,44373.68100,0.00000,70048.31125,0.00000,630000.00000,630000.00000,...,3.98569,11.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0

In [11]:
total_credit_card_df = pd.concat([merge_obj_df, merge_real_num_df], axis = 1)
total_credit_card_df

,SK_ID_PREV,NAME_CONTRACT_STATUS_FIRST,NAME_CONTRACT_STATUS_MODE,MONTHS_BALANCE_MEAN,MONTHS_BALANCE_MEDIAN,MONTHS_BALANCE_STD,MONTHS_BALANCE_FIRST,AMT_BALANCE_MEAN,AMT_BALANCE_MEDIAN,AMT_BALANCE_STD,...,CNT_INSTALMENT_MATURE_CUM_STD,CNT_INSTALMENT_MATURE_CUM_FIRST,SK_DPD_MEAN,SK_DPD_MEDIAN,SK_DPD_STD,SK_DPD_FIRST,SK_DPD_DEF_MEAN,SK_DPD_DEF_MEDIAN,SK_DPD_DEF_STD,SK_DPD_DEF_FIRST
0,1000018,Active,Active,-4.00000,-4.00000,1.58114,-5,74946.28500,44360.50500,46691.99617,...,1.58114,1.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
1,1000030,Active,Active,-4.50000,-4.50000,2.44949,-3,55991.06438,48036.66750,40839.85582,...,1.95941,3.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
2,1000031,Active,Active,-8.50000,-8.50000,4.76095,-4,52394.43938,2902.74750,64734.55522,...,3.41992,7.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
3,1000035,Active,Active,-4.00000,-4.00000,1.58114,-4,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
4,1000077,Active,Active,-7.00000,-7.00000,3.31662,-3,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104302,2843476,Active,Active,-49.00000,-49.00000,27.56810,-77,37937.81226,0.00000,60329.01731,...,11.07853,24.00000,15.03158,0.00000,43.42013,32,3.47368,0.00000,9.67322,32
104303,2843477,Active,Active,-43.00000,-43.00000,24.68130,-68,1663.07665,0.00000,9144.15443,...,0.40437,4.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
104304,2843478,Active,Active,-46.50000,-46.50000,26.12470,-82,5111.40500,0.00000,16968.62916,...,1.72629,9.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
104305,2843493,Active,Active,-8.00000,-8.00000,4.47214,-9,59139.92700,68541.16500,23068.04293,...,4.36654,5.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0
104306,2843496,Active,Active,-8.00000,-8.00000,4.47214,-2,44373.68100,0.00000,70048.31125,...,3.98569,11.00000,0.00000,0.00000,0.00000,0,0.00000,0.00000,0.00000,0

In [12]:
total_credit_card_df.to_csv('credit_card_merge.csv')